# dependencies:
node_modules/

# compiled files:
dist/

# environment variables:
.env

# jetbrains folder:
.idea/

# vscode folder:
.vscode/

# npm log:
npm-debug.log*
newrelic_agent.log
yarn-error.log
package-lock.json

# misc
.DS_Store

# prepare folder
lib/

# Mocha
results.json

# Junit
results.xml